
/*  CSS variables learned from Mozilla docs
    https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --bg-main: #486877;
    --bg-accent: #4A7C93;
    --bg-accent2: #A1BBCB;
    --accent-action: #F1F3DB;
    --text-white: #f8f8f8;
    --text-black: #202020;
}

body {
    font-family: "Durer";
    line-height: 1;
    position: relative;
    color: var(--text-white);
    /* padding-bottom: 4rem; */
    background: var(--bg-main);
    /* padding-left: 1rem; */
    z-index: -2;
}

a{
    text-decoration: none;
    color: var(--accent-action);
}

a:hover, .a:focus, .a:active{
    text-decoration: underline;
    color: var(--bg-accent2);
}

/* img:hover, img:focus, img:active{
    opacity: 0.8;
    transition: white 0.5s ease-out;
} */


header{
    /* border-bottom: 1px solid var(--text-white); */
    padding-bottom: 1rem;
}

.navMenu_items{
    padding-left: 4rem;
}

/* navigation bar */
.lineArtNav{
    margin-top: 1rem;
    padding-left: 1rem;
    scale:0.5;
}

hr{
    grid-column: 1/-1;
}

.nav__overlay {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

/* nav bar items */
ul{
    list-style-type: none;
    /* margin:0;
    padding: 0; */
    /* overflow:0; */
    /* position: relative; */
    /* top:0;
    width:100%; */
    /* grid-column:; */
    margin-right:5rem;
}

li{
    float: left;
}

li a{
    display: inline;
    color: var(--text-white);
    padding: 14px 16px;
    text-decoration: none;
    /* margin-bottom: 2rem; */
}


/* 12 column grid */
.mainCon{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    padding-bottom: 4rem;
    /* overflow: hidden; */
    /* gap:1rem; */
}

.footer-con{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

/* footer */
footer{
    /* position: absolute; */
    width: 100vw;
    color: #fff;
    margin-top: 0rem;
}

.footerP{
    color: var(--accent-action);
    grid-column: 2/6;
    margin-top: -2rem;
}

.findMeAt{
    color: var(--accent-action);
    margin: 0;
    font-size: 14px;
}

.linkedIn{
    grid-column: 7/12;
    padding-top: 0.5rem;
}

.Instagram{
    grid-column: 7/12;
    margin-top: -3rem;
}

.pinterest{
    grid-column: 7/12;
    margin-top: -1.5rem;
    /* padding-top: 0.5rem; */
}

.footerMobileText{
    font-size: 1.4rem;
}


/* about */
.headshot{
    grid-column: 6;
    padding-left: 1rem;
    z-index: 1;
}

.aboutHeader{
    grid-column: 1/8;
    margin-left: 1rem;
    z-index: 2;
    margin-top: -5.5rem;
}

.about-content{
    grid-column: 1/12;
    margin-left: 1rem;
    margin-top: 0rem;
}

.aboutPageBG{
    display: none;
}

.aboutButton1{
    grid-column: 2/6;
    /* margin-top: 0rem; */
    margin-left: -1rem;
}

.aboutButton2{
    grid-column: 6/11;
    /* margin-top: 0rem; */
    margin-left: 1rem;
}


/* awkward page */
.awkwardContent{
    grid-column: 2/11;
    margin-top: 1rem;
}

.oopsBackButton{
    grid-column: 2/6;
    margin-top: 0.5rem;
}

.button{
    border: 2px solid var(--text-white);
    background-color: transparent;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 8rem;
    color: var(--text-white);
    transition: background-color 0.3s ease;
}

.button:hover{
    background-color: var(--bg-accent);
    /* transition: var(--bg-accent) 0.3s ease; */
}

.cloudCharacter{
    scale: 0.4;
    margin-top: -13rem;
    grid-column: 4/11;
}

.oopsMobileHeader{
    font-family: "Durer";
    font-size: 2.5rem;
}


/* works */
.worksHeader{
    margin-left: 1rem;
    grid-column: 1/7;
}

.projectDropdown{
    grid-column: 7/11;
    margin-top: 3rem;
}

.projects{
    grid-column: 1;
    z-index: -10;
    margin-left: 1rem;
}




/* resume */

.resume-introContent{
    grid-column: 2/-1;
}

.location{
    margin-bottom: -0.5rem;
}

.mail{
    margin-bottom: -0.5rem;
}

.resume-imgCon{
    scale:0.4;
    margin-left: 1rem;
    margin-top:-19rem;
    margin-bottom:-19rem;
}

.inv {
    display: none;
}


.extraInfo{
    grid-column: 2/-1;
}


/* mainPAGE */
.contentHome-con{
    grid-column: 1/-1;
    text-align: center;
}

.imagesHome-con{
    grid-column: 2/-1;
    margin-left: 0.5rem;
    /* margin-top: 4rem; */
    /* margin-left: ; */
    /* margin-right: auto;
    width: 50%; */

}

.lineArtLarge{
    margin-top: 4rem;
}


.search{
    margin-top: 1rem;
    grid-column: 2/9;
    padding: 5px;
    border-radius: 1rem;
    background-color: #A1BBCB;
    color: #486877;
}

.searchIcon{
    padding-left: 0.5rem;
}

.pHomeSearch{
   color: var(--bg-main);
   margin: 0;
}



/* styleguide */

.styleCenter{
    text-align: center;
}


.styleContent{
    grid-column: 2/12;
}

.styleSubHeaders{
    grid-column: 2/12;
}

.headingLeft{
    grid-column: 2/5;
    margin:0rem;
}

.headingRight{
    grid-column: 5/12;
    margin:0rem;
}


input{
    outline: 0;
    border-width: 0 0 0.125rem;
    border-color: white;
    background-color: transparent;
    color: var(--bg-accent2);
    margin: 1rem 1rem;
}


/* changing placeholder color source: https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--text-white);
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--text-white);
    opacity: 0.5;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--text-white);
    opacity: 0.5;
  }

/* end of mobile */













/* desktop */
@media screen and (min-width: 62rem) {

/* works */
.worksHeader{
    margin-left: 1rem;
    grid-column: 1/3;
}

.projectDropdown{
    grid-column: 3/11;
    margin-top: 3rem;
}

.projectsPage{
    margin-left: 1rem;
    /* grid-template-rows: auto; */
    /* gap:0; */
}

.p01{
    grid-column: 1;
    z-index: -10;
    scale: 1;
}

.p02{
    grid-column: 4;
    z-index: -10;
}
.p03{
    grid-column: 7;
    z-index: -10;
}

.p04{
    grid-column: 10;
    /* grid-row: 2; */
    z-index: -10;
    /* margin-top: -13rem; */
}

/* 
.lineArtHome{
    scale:50%;
    grid-column: 6;
} */


/* navigation top */

/* .showcasesArea{
    gap:1rem;
    position:absolute;
} */

/* .worksNav{
    grid-column: 5;
} */
/* 
.myResume{
    grid-column: 2;
    z-index: 10;
    margin:1rem;
} */

.awkwardContent{
    grid-column: 2/6;
}

.awkwardText{
    margin-top: 5rem;
}

.cloudCharacter{
    scale:1.14;
    margin-top: 3rem;
    grid-column: 7/11;
}

.oopsMobileHeader{
    font-family: "Durer";
    font-size: 4rem;
}




/*

.button{
    border: 2px solid var(--text-white);
    background-color: transparent;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 8rem;
    color: var(--text-white);
}

.cloudCharacter{
    scale: 0.3;
    margin-top: -13rem;
} */




    /* about page */
    .aboutPageBG{
        display:block;
        position: fixed;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        z-index:-50;
    }
/*     
    .imgAbout{
        scale:1.11;
    } */
    
    .meP{
        line-height: 1.5rem;
    }

    .headshot{
        display: none;
    }
    
    .aboutHeader{
        grid-column: 2/5;
        margin-top: 7rem;
        margin-bottom: 1rem;
    }
    
    .about-content{
        grid-column: 2/7;
        /* margin-top: 0rem; */
    }

    .aboutButton1{
        grid-column: 2/4;
        margin-top: 0.5rem;
        margin-left: 1rem;
    }
    
    .aboutButton2{
        grid-column: 4/6;
        margin-top: 0.5rem;
    }

/* footer */
 footer{
    position: absolute;
    width: 100vw; 
    /* background: #111; */
    color: #fff;
    padding-top: 1rem;
}

.footerP{
    color: var(--accent-action);
    grid-column: 2/4;
    margin-top: -1rem;
}

.findMeAt{
    color: var(--accent-action);
}

.linkedIn{
    grid-column: 5/7;
    padding-top: 1rem;
}

.Instagram{
    margin-left: 1.5rem;
    grid-column: 7/9;
    padding-top: 4rem;
}

.pinterest{
    grid-column: 9/11;
    padding-top: 2.5rem;
}

/*
.headshot{
    grid-column: 6;
    margin-top: 1rem;
    padding-left: 1rem;
    z-index: 1;

} */


.footerMobileText{
    font-family: "Durer";
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


/* resume Deskstop */
.resume-introContent{
    grid-column: 2/5;
}

.resume-imgCon{
    scale:0.75;
    grid-column: 5/-1;
    margin-bottom: 5px;
    /* overflow: scroll; */
    /* padding-bottom: 6rem; */
    /* margin-bottom: 0.5rem; */
}

.extraInfo{
    grid-column: 2/5;
} 


/* mainPAGE */

.contentHome-con{
    grid-column: 2/9;
    text-align: left;
    z-index: -1;
}

.imagesHome-con{
    grid-column: 7/-1;
    margin-top:-9rem;
    z-index: 1;
}

.search{
    margin-top: 1rem;
    grid-column: 2/4;
    border-radius: 1rem;
    background-color: #A1BBCB;
    color: #486877;
}

.searchIcon{
    padding: 0rem 0.5rem;
    scale:1.5;
}

.homeProjHoodie{
    grid-column: 10;
    margin-top: 4rem;
    z-index: -10;
    scale: 0.8;
}

.homeProjTidyTunes{
    grid-column: 2;
    margin-top: 1rem;
    z-index: -10;
    /* scale: 0.8; */
}

.homeProjLLF{
    grid-column: 5;
    margin-top: -4rem;
    z-index: -10;
}
/* 

.imagesHome-con{
    grid-column: 2/-1;
    margin-left: 0.5rem; */
    /* margin-top: 4rem; */
    /* margin-left: ; */
    /* margin-right: auto;
    width: 50%; */

/* }

.lineArtLarge{
    margin-top: 4rem;
}


.search{
    margin-top: 1rem;
    grid-column: 2/9;
    padding: 5px;
    border-radius: 1rem;
    background-color: #A1BBCB;
    color: #486877;
}

.searchIcon{
    padding-left: 0.5rem;
}

.pHomeSearch{
   color: var(--bg-main);
   margin: 0;
} */


}

/* tablet */
/* @media screen and (min-width: 48rem) {


} */


/* mobile */
@media screen and (min-width: 36rem) {


}