
/*  CSS variables learned from Mozilla docs
    https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --bg-main: #486877;
    --bg-accent: #4A7C93;
    --bg-accent2: #A1BBCB;
    --accent-action: #F1F3DB;
    --text-white: #f8f8f8;
    --text-black: #202020;
}

body {
    font-family: "Durer";
    line-height: 1;
    position: relative;
    color: var(--text-white);
    padding-bottom: 4rem;
    background: var(--bg-main);
    /* padding-left: 1rem; */
    z-index: -2;
}

header{
    border-bottom: 1px solid var(--text-white);
    padding-bottom: 1rem;
}

.navMenu_items{
    padding-left: 4rem;
}

/* navigation bar */
.lineArtNav{
    grid-column:2;
    margin-top: 1rem;
    padding-left: 1rem;
}

.nav__overlay {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

/* nav bar items */
ul{
    list-style-type: none;
    /* margin:0;
    padding: 0; */
    /* overflow:0; */
    /* position: relative; */
    /* top:0;
    width:100%; */
    /* grid-column:; */
    margin-right:5rem;
}

li{
    float: left;
}

li a{
    display: inline;
    color: var(--text-white);
    padding: 14px 16px;
    text-decoration: none;
}


/* 12 column grid */
.mainCon{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap:1rem;
}


/* footer */
footer{
    position: absolute;
    width: 100vw;
    /* background: #111; */
    color: #fff;
    margin-top: 7rem;
}

.footerP{
    color: var(--accent-action);
    grid-column: 2/4;
    margin-top: -1.5rem;
}

.findMeAt{
    color: var(--accent-action);
}

.linkedIn{
    grid-column: 5/7;
    padding-top: .5rem;
}

.Instagram{
    margin-left: 1.5rem;
    grid-column: 7/9;
    padding-top: 0.5rem;
}

.pinterest{
    grid-column: 9/11;
    padding-top: 0.5rem;
}


.headshot{
    grid-column: 6;
    margin-top: -5rem;
    z-index: -4;

}

.aboutHeader{
    grid-column: 1/8;
    margin-left: 1rem;
    z-index: -1;
}

.about-content{
    grid-column: 1/12;
    margin-left: 1rem;
}

.aboutPageBG{
    display: none;
}



/* desktop */
@media screen and (min-width: 62rem) {
/* 
.lineArtHome{
    scale:50%;
    grid-column: 6;
} */


/* navigation top */

/* .showcasesArea{
    gap:1rem;
    position:absolute;
} */

/* .worksNav{
    grid-column: 5;
} */
/* 
.myResume{
    grid-column: 2;
    z-index: 10;
    margin:1rem;
} */








/* awkward page */
/* .awkwardContent{
    grid-column: 2/6;
    margin-top: 8rem;
}

.oopsBackButton{
    grid-column: 2/4;
    margin-top: 0.5rem;
}

.button{
    border: 2px solid var(--text-white);
    background-color: transparent;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 32rem;
    color: var(--text-white);
}

.cloud-con{
    grid-column: 7;
    padding-top: 5rem;
    padding-left: 7rem;
}

.cloud{
    scale:1.4;
} */



    /* about page */
    .aboutPageBG{
        display:block;
        position: fixed;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        z-index:-50;
    }
/*     
    .imgAbout{
        scale:1.11;
    } */
    
    .meP{
        line-height: 1.5rem;
    }

    .headshot{
        display: none;
    }
    
    .aboutHeader{
        grid-column: 2/5;
        margin-top: 7rem;
    }
    
    .about-content{
        grid-column: 2/7;
    }



}


/* tablet */
/* @media screen and (min-width: 48rem) {


} */


/* mobile */
@media screen and (min-width: 36rem) {


}